.modal-hidden {
    visibility: hidden;
    width: 1px;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .modal-background {
    background: rgba(94, 94, 94, 0.5);
    position: absolute;
    top: auto;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }
  
  .modal-content {
    visibility: visible;
    height: 200px;
    width: 600px;
    background-color:snow;
    box-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.41);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
 

    /* margin: auto; */
    align-items: center;
  }
   
  .modal-content img {
    margin-top: 0.2em;
    margin-bottom: 0.1em;
 
  }
  
  .cerrar {
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
  }
  