.pagination {
    display: flex;
    justify-content: space-between;
    margin :2em auto;
    align-items: center;
    width: 90%;
 

}
.pagination button{
    margin: 0.5em;
    cursor: pointer;
    background-color: white;
    border: none;
    /* border: 1px solid black; */
}
.pagination button:disabled {
    background: #ccc;
  }
.finalLine {
    width: 90%;
    margin: auto;
}