.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    
}
.searchBar button {
    border: none;
    padding: 1em 2em;
    border-radius: 1em;
    background-color:white;
    font-size: 0.8em;
   cursor: pointer;
   transition: background-color 0.4s;
}
.searchBar button:hover{
    background-color: whitesmoke;
 
}